/vendor/
phpunit.xml
.phpunit.result.cache
/.vscode/
/.idea/
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
/storage/*.key
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/logs/*
/storage/oauth-private.key
/storage/oauth-public.key
/storage/testing/*
/public/hot
/public/storage
/node_modules/
/npm-debug.log
/yarn-error.log
/.php-cs-fixer.cache
/.env.testing
/.phpunit/
